h1{
    font-size: 36px;
    font-family: Gabriola;
    color: #68b0ab;
}

h2{
    font-size: 32px;
    font-family: Gabriola;
    color: #68b0ab;
}

h3{
    font-size: 24px;
    font-family: Gabriola;
    color: #68b0ab;
}

p{
    font-size: 20px;
    font-family: Gabriola;
    color: #8fc0a9;
}

